@model IEnumerable<Laptop>

@{
    ViewData["Title"] = "Danh sách Laptop";
}
<div class="text-white mb-3">
    <a asp-controller="Laptops" asp-action="Create" class="btn btn-success">Thêm mới</a>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        string buttonText = (item.Status == "1") ? "Thêm Vào Giỏ Hàng" : "Hết hàng";
        string buttonClass = (item.Status == "1") ? "btn-success" : "btn-danger disabled";
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-black bg-warning">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3 mb-3">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6 mt-3 mb-3">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>@item.Price.ToString()đ</b></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text d-flex justify-content-between">
                                <a class="btn btn-outline-primary float-right" asp-controller="Laptops" asp-action="Details" asp-route-id="@item.Id">
                                    Chi Tiết
                                </a>
                                <a class="btn btn-outline-primary float-right" asp-action="Update" asp-route-id="@item.Id">
                                    Sửa
                                </a>
                                <a class="btn btn-outline-primary float-right" asp-action="Delete" asp-route-id="@item.Id">
                                    Xóa
                                </a>
                                <a class="btn text-white @buttonClass"
                                   asp-controller="Orders"
                                   asp-action="AddItemToShoppingCart"
                                   asp-route-id="@item.Id">
                                    @buttonText
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>